doctype html
html(ng-app='philipRurka', ng-controller='philipRurkaController')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0', maximum-scale=1, user-scalable=04)
    base(href='/')
    link(rel='shortcut icon', type='image/png' href='/images/favicon.png')
    link(rel='stylesheet', type='text/css', href='main.css')
    link(href="https://fonts.googleapis.com/css?family=Tajawal:400,700", rel="stylesheet")


    title Philip Rurka | Porfolio

  body
    .header-wrapper
      .header-container
        .header-content.clearfix
          label Philip Rurka
          hr
          .float-right
            .email-wrapper
              a(href='mailto:hey@philiprurka.com')
                | hey@
                strong philiprurka.com
              a(href='mailto:hey@philiprurka.com')
                | hey@
                strong philiprurka.com
            .image-wrapper
              .image-container
                .image-content
                  a.image.github-red(href='https://github.com/PhilipRurka', target='_blank')
                .image-content
                  a.image.github-purple(href='https://github.com/PhilipRurka', target='_blank')
              .image-container
                .image-content
                  a.image.linkedin-red(href='https://www.linkedin.com/in/philip-rurka-447194127/', target='_blank')
                .image-content
                  a.image.linkedin-purple(href='https://www.linkedin.com/in/philip-rurka-447194127/', target='_blank')
          .nav-wrapper
            ul.clearfix
              li(ng-repeat='option in navOptions', ng-class='{"selected" : currentState === option}', ng-click='$goToState(option)')
                a(ng-title='{{option}}') {{option}}
    .core
      ui-view
    
    //- Javascript
    script(src='main.js')




//- .contact.clearfix
  .image-wrapper
    a.image.github(href='https://github.com/PhilipRurka', target='_blank')
    a.image.linkedin(href='https://www.linkedin.com/in/philip-rurka-447194127/', target='_blank')
  p 
    | hey@
    strong philiprurka.com
      //- .contact.clearfix
        .image-wrapper
          a.image.github(href='https://github.com/PhilipRurka', target='_blank')
          a.image.linkedin(href='https://www.linkedin.com/in/philip-rurka-447194127/', target='_blank')
        p 
          | hey@
          strong philiprurka.com