doctype html
html(ng-app='philipRurka', ng-controller='philipRurkaController')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0', maximum-scale=1, user-scalable=04)
    //- meta(http-equiv="Content-Security-Policy", content="default-src 'self'; font-src 'self' data: fonts.gstatic.com;")
    base(href='/')
    link(rel='shortcut icon', type='image/png' href='/images/favicon.png')
    link(rel='stylesheet', type='text/css', href='main.css')
    title Philip Rurka | Porfolio

  body
    .header-wrapper
      .header-container
        .header-content
          label Philip Rurka
          hr

          .nav-wrapper
            ul
              li(ng-repeat='option in navOptions', ng-class='{"selected" : currentState === option}', ng-click='$goToState(option)')
                a(ng-title='{{option}}') {{option}}
    .core
      ui-view
    footer
      .footer-wrapper
        p Say Hey!
        a
          | hey@
          strong philiprurka.com
        .image-wrapper
          a.image.github(href='https://github.com/PhilipRurka', target='_blank')
          a.image.linkedin(href='https://www.linkedin.com/in/philip-rurka-447194127/', target='_blank')
        
    //- Javascript
    script(src='main.js')




//- .contact.clearfix
  .image-wrapper
    a.image.github(href='https://github.com/PhilipRurka', target='_blank')
    a.image.linkedin(href='https://www.linkedin.com/in/philip-rurka-447194127/', target='_blank')
  p 
    | hey@
    strong philiprurka.com
      //- .contact.clearfix
        .image-wrapper
          a.image.github(href='https://github.com/PhilipRurka', target='_blank')
          a.image.linkedin(href='https://www.linkedin.com/in/philip-rurka-447194127/', target='_blank')
        p 
          | hey@
          strong philiprurka.com