
<div class="view-wrapper product-list">
  <div class="container-fluid">
    <div class="bread-crumb-wrapper">
      <h1 class="bread-crumb-container" ng-repeat="breadCrumb in breadCrumbs"><span ng-hide="$first">&nbsp;/&nbsp;</span><span ng-class="{&quot;purple-text&quot; : !$last}" ng-click="goToCrumb(breadCrumb, $last)">{{breadCrumb}}</span></h1>
    </div>
    <div class="category-description-wrapper" ng-class="{&quot;show-read-more&quot; : showReadMore}" ng-show="categoryDescriptionCopy">
      <div class="read-more" ng-click="expandContainer()">
        <div class="more oppacity-full">
          <div class="icon"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
          <p>More</p>
        </div>
        <div class="less hide-div">
          <div class="icon"><i class="fa fa-angle-double-up" aria-hidden="true"></i>
            <p>Less</p>
          </div>
        </div>
      </div>
      <div class="category-description-container" ng-style="{&quot;height&quot; : containerHeight}">
        <div class="category-description-content">
          <div class="gradient-overlay" ng-style="{&quot;top&quot; : gradientOverlay}"></div>
          <p>{{categoryDescriptionCopy}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="product col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="categoryProduct in categoryProducts" on-finish-render="ngRepeatFinished"><a class="product-content" ng-click="goToProduct(categoryProduct.slug)">
          <div class="product-image-container"><img ng-src="{{::categoryProduct.thumbnail}}" alt="{{::categoryProduct.name}}"/></div>
          <div class="product-details">
            <h1 class="product-name">{{::categoryProduct.name}}</h1>
            <h2 class="product-category">{{::categoryProduct.shortDescriptor}} – ${{::categoryProduct.price}}</h2>
          </div></a></div>
    </div>
  </div>
</div>