
<div class="product-page" ng-class="{&quot;if-crumbs&quot; : breadCrumbs}">
  <div class="container-fluid">
    <div class="bread-crumb-wrapper">
      <h1 class="bread-crumb-container" ng-repeat="breadCrumb in breadCrumbs" ng-show="!$last"><span ng-hide="$first">&nbsp;/&nbsp;</span><span class="purple-text" ng-click="goToCrumb(breadCrumb, $last)">{{breadCrumb}}</span></h1>
    </div>
    <div class="row">
      <div class="product-visuals col-xs-12 col-sm-6 col-md-7">
        <div class="product-visual" ng-if="product.videoLink">
          <div class="product-video-container">
            <div class="product-video" ng-style="{&quot;height&quot;: videoHeight}">
              <iframe id="testVideo" ng-src="{{reviewUrl}}" frameborder="0"></iframe>
            </div>
          </div>
        </div>
        <div class="product-visual" ng-repeat="image in product.images" on-finish-render="ngRepeatFinished"><img ng-src="{{::image.fields.file.url}}" alt="{{::image.fields.title}}"/></div>
      </div>
      <div class="product-details col-xs-12 col-sm-6 col-md-5">
        <div class="product-details-container">
          <div class="product-name">
            <h1>{{::product.name}}</h1>
          </div>
          <div class="product-category">
            <h2>{{::product.shortDescriptor}}</h2>
          </div>
          <div class="product-description"></div>
          <div class="product-tags">
            <div class="product-tag" ng-repeat="category in product.categoriesFormated | orderBy:&quot;type&quot;" ng-click="goToCategory(category)">
              <div class="product-tag-backdrop">
                <div class="product-tag-foreground">{{::category.type}}</div>
              </div>
            </div>
          </div>
          <div class="product-price" ng-show="product.price">${{::product.price}}</div><a class="product-purchase-link" href="{{product.actionableUrl}}" target="_blank"><img src="/images/amazon-icon-white.svg" style="margin-right: 0.5rem;"/>Check Reviews & Prices</a>
          <div class="mobile-purchase-link-container"><a class="mobile-purchase-link" href="{{product.actionableUrl}}"><img src="/images/amazon-icon-white.svg" style="margin-right: 0.5rem;"/>See Reviews & Prices<span class="price" ng-show="product.price">${{::product.price}}</span></a></div>
        </div>
      </div>
    </div>
  </div>
</div>