
<div class="projects-wrapper">
  <div class="section-wrapper bluekiwi">
    <div class="section-container">
      <div class="section-content break">
        <label>Blue Kiwi</label>
        <hr/>
        <p>This is a project I have been working on with a wonderful team of rockstars. Check it out and let us know what you think.</p><a href="http://www.iotplace.store/">Check it</a>
      </div>
      <div class="image-wrapper">
        <div class="image"></div>
      </div>
      <div class="button-wrapper"><a href="http://www.iotplace.store/">Check it</a></div>
    </div>
  </div>
</div>