
<div class="view-wrapper shop-wrapper" ng-class="{&quot;if-crumbs&quot; : breadCrumbs}">
  <div class="container-fluid">
    <div class="bread-crumb-wrapper display-none">
      <div class="bread-crumb-container" ng-repeat="breadCrumb in breadCrumbs">
        <p ng-hide="$first">&nbsp;/</p>
        <p ng-class="{&quot;green-text&quot; : !$last}" ng-click="goToCrumb(breadCrumb, $last)">{{breadCrumb}}</p>
      </div>
    </div>
    <div class="row">
      <div class="product col-xs-12 col-sm-6 col-md-3" ng-repeat="category in categoriesSlugHash" on-finish-render="ngRepeatFinished"><a class="product-content" ng-click="goToCategory(category.fields.type)">
          <div class="product-image-container"><img ng-src="{{::category.fields.image.fields.file.url}}" alt="{{::category.fields.type}}"/></div>
          <div class="product-details">
            <div class="left">
              <h2 class="product-name">{{::category.fields.type}}</h2>
            </div>
          </div></a></div>
    </div>
  </div>
</div>