//===========================//
//========== FONTS ==========//
//===========================//

//===========================//
//========= LAYOUT ==========//
//===========================//


//=================================//
//==== Media Query Breakpoints ====//
//=================================//
$media-query-xxs: 420px;  // custom
$media-query-xs: 768px;  // bootsrap
$media-query-sm: 992px;  // bootsrap
$media-query-md: 1200px; // bootsrap
$media-query-lg: 1500px; // custom 15" Retina is 1440
