$grad-width: 3px;

.top-right,
.top-left,
.bottom-right,
.bottom-left {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }
}

.bottom-right {
  &::before,
  &::after {
    bottom: -$grad-width;
    right: -$grad-width;
  }

  &::before {
    top: -$grad-width;
    width: $grad-width;
    background-image: -webkit-linear-gradient(transparent, $color-main-purple);
  }

  &::after {
    left: -$grad-width;
    height: $grad-width;
    background-image: -webkit-linear-gradient(left, transparent, $color-main-purple);
  }
}

.top-left {
  &::before,
  &::after {
    top: 0;
    left: -$grad-width;
  }

  &::before {
    bottom: -$grad-width;
    width: $grad-width;
    background-image: -webkit-linear-gradient($color-main-green, transparent);
  }

  &::after {
    right: -$grad-width;
    height: $grad-width;
    background-image: -webkit-linear-gradient(left, $color-main-green, transparent);
  }
}

.bottom-left {
  &::before,
  &::after {
    bottom: -$grad-width;
    left: -$grad-width;
  }

  &::before {
    top: -$grad-width;
    width: $grad-width;
    background-image: -webkit-linear-gradient(transparent, $color-main-green);
  }

  &::after {
    right: -$grad-width;
    height: $grad-width;
    background-image: -webkit-linear-gradient(left, $color-main-green, transparent);
  }
}

.top-right {
  &::before,
  &::after {
    top: 0;
    right: -$grad-width;
  }

  &::before {
    bottom: -$grad-width;
    width: $grad-width;
    background-image: -webkit-linear-gradient($color-main-green, transparent);
  }

  &::after {
    left: -$grad-width;
    height: $grad-width;
    background-image: -webkit-linear-gradient(left, transparent, $color-main-purple);
  }
}