.projects-wrapper
  .section-wrapper.bluekiwi
    .section-container
      .section-content.break
        label Blue Kiwi
        hr
        p This is a project I have been working on with a wonderful team of rockstars. Check it out and let us know what you think.
        a(href='http://www.iotplace.store/', target='_blank') Check it
      .image-wrapper
        .image
      .button-wrapper
        a(href='http://www.iotplace.store/', target='_blank') Check it
  .section-wrapper.simptek
    .section-container
      .section-content.break
        label SimpTek
        hr
        p Here is a company website that I have built. I very much enjoyed this project. The SimpTek Team are a bunch of passionate, hungry go-getters.
        a(href='http://www.simptekinc.com/', target='_blank') Check it
      .image-wrapper
        .image
      .button-wrapper
        a(href='http://www.simptekinc.com/', target='_blank') Check it