.projects-wrapper
  .section-wrapper.bluekiwi
    .section-container
      .section-content.break
        label Blue Kiwi
        hr
        p This is a project I have been working on with a wonderful team of rockstars. Check it out and let us know what you think.
        a(href='http://www.iotplace.store/') Check it
      .image-wrapper
        .image
      .button-wrapper
        a(href='http://www.iotplace.store/') Check it