html {
  font-family: 'Tajawal', sans-serif;
  letter-spacing: 0.5px;
}

body {
  overflow-x: hidden;
}

a {
  background-color: transparent;
}

.image-wrapper {

  .image {
    background-repeat: no-repeat;
    background-size: contain;
  }
}

*,
*:focus {
  outline: none;
  border: none;
}

.clearfix {
  &::before,
  &::after {
    display: table;
    content: " ";
  }

  &::after {
    clear: both;
  }
}

ul {
  list-style-type: none;
  margin: 0;
}

.core {
  position: relative;
}